.page {
    background-color: #34C6CD ;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color:#FFFFFF;
}

.header {
    display: flex;
    padding: 28px 48px 0 48px;
    justify-content: space-between;
}

@media screen and (max-width: 1140px) {
    .header {
        padding: 28px 48px 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        padding: 16px 16px 0 16px;
    }
}

.header__langs {
  display: flex;
  align-items: center;
}

.header__link-lang {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    margin: 0 0 0 18px;
    text-decoration: none;
}

.header__logo {
    width: 100px;
}

/* .main {
    display: flex;
} */

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.lead__iltle {
    margin: 80px auto 20px auto;
    font-size: 120px;
    padding: 0;
}

@media screen and (max-width: 1140px) {
    .lead__iltle {
        font-size: 120px;
    }
}

@media screen and (max-width: 984px) {
    .lead__iltle {
        font-size: 80px;
    }
}

@media screen and (max-width: 568px) {
    .lead__iltle {
        font-size: 60px;
    }
}

.lead__moto {
    margin: 0;
    padding: 0;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .aboutUs {
        flex-direction: column;
    }
}

.aboutUs__img {
    width: 300px;
    height: 250px;
    margin: 30px;
}

.aboutUs__container {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .aboutUs__container {
        width: 80%
    }
}

.aboutUs__title {
    margin: 20px;
    text-align: center;
    justify-content: center;
}

.aboutUs__text {

}

.text_type_you {
    margin: 20px 0 0 0;
}

.text_type_we {
    margin: 5px 0 20px 0;
}

.aboutUs__span {
    font-weight: 800;
}


.forWho__title {
    margin: 50px;
    text-align: center;
    font-size: 35px;
}
.forWho__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .forWho__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.forWho__card {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forWho__img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.forWho__text {
    text-align: center;

}

.signIn {
    width: 60%;
    margin: 80px auto 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8942D6;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}

.signIn__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0 20px 0;
    padding: 0;
    text-align: center;
}

.signIn__subTitle {
    margin: 20px 0 10px 0;
    padding: 0; 
}

.signIn__input {
    border: 0;
}

.signIn__button {
    border: 0;
    margin: 20px 0 0 0;
}



.footer {
    display: flex;
    width: 92%;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
    .footer {
        margin: 92px 48px 0 48px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        margin: 92px 24px 0 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin: 92px 118px 0 16px;
        padding-bottom: 24px;
        flex-direction: column;
    }
}

.footer__links {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 568px) {
    .footer__links {
        flex-direction: column;
        align-items: start;
    }
}

.footer__link {
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;  
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__link:last-child {
    margin: 0 0 0 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .footer__link {
        margin: 0 6px 0 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 568px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 32px 0 0 0;
    }
}

@media screen and (max-width: 568px) {
    .footer__link:last-child {
        margin: 32px 0 0 0;
    }
}

.footer__nametag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

@media screen and (max-width: 568px) {
    .footer__nametag {
        font-size: 14px;
        line-height: 1;
        margin: 48px 0 0 0;
        text-align: left;
    }
}