.page {
    background-color: #34C6CD ;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color:#FFFFFF;
}

.header {
    display: flex;
    padding: 28px 48px 0 48px;
    justify-content: space-between;
}

@media screen and (max-width: 1140px) {
    .header {
        padding: 28px 48px 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        padding: 16px 16px 0 16px;
    }
}

.header__langs {
  display: flex;
  align-items: center;
}

.header__link-lang {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    margin: 0 0 0 18px;
    text-decoration: none;
}

.header__logo {
    width: 100px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.menu {
    margin: 20px auto 20px auto;
    display: flex;
    align-items: center;
}

.menu__link
 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.12;
    color: black;
    text-decoration: none;
    margin: 0 18px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    width: 40%;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
}

.menu__link:last-child {
    margin: 0;
}

.menu__link:hover {
    background-color: #8942D6;
    color: white
}

.title {
    margin: 30px auto 0px auto;
}

.title__text {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.profile {
    background-color: white;
    color: black;
    width: 90%;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}

@media screen and (max-width: 800px) {
    .profile {
        flex-direction: column;
    } 
}

.profile__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 40px;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .profile__photo {
        width: 200px;
        height: 200px;
        padding: 30px;
    }
}

.profile__infoContainer {
    flex-grow: 1;
    padding: 30px 40px
}

.profile__title {
    margin: 0px auto 20px auto;
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .profile__header {
        text-align: center;
    }
}

.profile__info {
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .profile__info {
        text-align: center;
    }
}

.history {
    width: 90%
}


.history__title {
    text-align: center;
    margin: 30px;
}

.history__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 20px;
}

.history__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    color: black;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
}

.history__photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.history__name {
    margin: 10px auto;
}

.history__date {
    margin: 0;
}

.footer {
    display: flex;
    width: 92%;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
    .footer {
        margin: 92px 48px 0 48px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        margin: 92px 24px 0 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin: 92px 118px 0 16px;
        padding-bottom: 24px;
        flex-direction: column;
    }
}

.footer__links {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 568px) {
    .footer__links {
        flex-direction: column;
        align-items: start;
    }
}

.footer__link {
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;  
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__link:last-child {
    margin: 0 0 0 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .footer__link {
        margin: 0 6px 0 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 568px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 32px 0 0 0;
    }
}

@media screen and (max-width: 568px) {
    .footer__link:last-child {
        margin: 32px 0 0 0;
    }
}

.footer__nametag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

@media screen and (max-width: 568px) {
    .footer__nametag {
        font-size: 14px;
        line-height: 1;
        margin: 48px 0 0 0;
        text-align: left;
    }
}